/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
nav {
  background-color: #f2f2f2;
  padding: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo svg {
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #000;
}

/* Estilos para los íconos */
.fa-regular,
.fa-solid {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 5px;
}


/* Searchbar */

.search div {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0px 36px;
    border-radius: 6px;
  
  }
  input {
    position: relative;
    line-height: 40px;
    width: 100%;
    border: none;
    z-index: 10;
    outline: none;
    font-size: 16px
  }
  icon {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    padding: 8px;
  }
  
   
  
  icon.lupa {
    right: none;
    left: 6px;
  }
  
   
  
  icon.close:hover {
    background-color: #eee;
  }
  
   
  
  div.circle {
    width: 26px;
    height: 26px;
    background-color: #4070ff;
    border-radius: 50%;
  }