/* Estilos generales */
body {
  display: grid;
  place-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%; /* Ancho del contenedor en porcentaje */
  max-width: 100%; /* Ancho máximo del contenido */
  padding: 0 15%; /* Espacio a los lados en porcentaje */
}

/* Navbar */
nav {
  background-color: #f2f2f2;
  padding: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo svg {
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: #000;
}

/* Estilos para los íconos */
.fa-regular,
.fa-solid {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  margin-right: 5px;
  color: #000000
}


/* Searchbar */

.search div {
    position: relative;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0px 36px;
    border-radius: 6px;
  
  }
  input {
    position: relative;
    line-height: 40px;
    width: 100%;
    border: none;
    z-index: 10;
    outline: none;
    font-size: 16px
  }
  icon {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    padding: 8px;
  }
  
   
  
  icon.lupa {
    right: none;
    left: 6px;
  }
  
   
  
  icon.close:hover {
    background-color: #eee;
  }
  
   
  
  /* div.circle {
  width: 26px;
  height: 26px;
  background-color: #4070ff;
  border-radius: 50%;
  overflow: hidden;
} */

/* Filter bar */

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4070ff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}

.dropbtn:hover {
  background-color: #3158bb;
}

/* Contenido del dropdown*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el contenido del dropdown*/
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para el círculo*/
div.circle {
  width: 26px;
  height: 26px;
  background-color: #4070ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
